<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-5">マイページ</h3>
        <div class="d-flex align-items-center">
          <h4><b>登録情報</b></h4>
          <%= link_to "編集する", customers_information_edit_path, class:"btn btn-dark ml-3" %>
        </div>
        <br>
          <table class="table table-bordered">
            <tr>
              <td>氏名</td>
              <td><%= @customer.last_name + @customer.first_name %></td>
            </tr>

            <tr>
              <td>カナ</td>
              <td><%= @customer.last_name_kana + @customer.first_name_kana %></td>
            </tr>

            <tr>
              <td>郵便番号</td>
              <td>〒<%= @customer.postal_code %></td>
            </tr>

            <tr>
              <td>住所</td>
              <td><%= @customer.address %></td>
            </tr>

            <tr>
              <td>電話番号</td>
              <td><%= @customer.telephone_number %></td>
            </tr>

            <tr>
              <td>メールアドレス</td>
              <td><%= @customer.email %></td>
            </tr>
          </table>
          <div class="d-flex align-items-center">
            <h4><b>配送先</b></h4>
            &emsp;&emsp;<%= link_to "一覧を見る", addresses_path, class: "btn btn-dark ml-3" %>
          </div>
          <br>
          <div class="d-flex align-items-center">
            <h4><b>注文履歴</b></h4>
            &thinsp;&thinsp;<%= link_to "一覧を見る", orders_path, class: "btn btn-dark ml-3" %>
         </div>
    </div>
  </div>
</div>
