<div class="container pt-5 pb-5">
  <div class="row">
    <%= render "public/items/genre", genre: @genres %>
    <div class="box2 col-10">
            <div class="main-visual-cover mx-auto">
      <div class="main-visual">
        <h3 class=" mt-5">ようこそ、ながのCAKEへ!</h3>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の開覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
    </div>
      <h3 class="mt-3">新着商品</h3>
      <div class="d-flex justify-content-center" >

        <% @items.each do |item| %>
          <div class="mx-2 mb-4">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_image(240, 160), style: "object-fit: cover; width: 240px; height: 160px;" %>
            <% end %>
              <p><%= item.name %></p>
            <% if item.is_on_sale == true %>
              <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
            <% else %>
              <p class="font-weight-bold">SOLD OUT</p>
            <% end %>
          </div>
        <% end %>

      </div>
      <div class="row justify-content-end">
        <%= link_to '全ての商品を見る>', items_path, class: "text-reset" %>
      </div>
    </div>
  </div>
</div>
