<table>
  <thead>
    <tr>
      <th class="text-left">商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% order_details.each do |order_details| %>
      <%= form_with model: [order, order_details], url: admin_order_detail_path(order, order_details) do |f| %>
        <tr>
          <td class="text-left"><%= order_details.item.name %></td>
          <td><%= order_details.price.to_s(:delimited) %></td>
          <td><%= order_details.amount %></td>
          <td><%= calculate_subtotal(order_details).to_s(:delimited) %></td>
          <td><%= f.select :production_status, options_for_select(production_status_options(order_details)), class: "form-control" %></td>
          <td>
            <%= production_status_display(order_details) %>
            <% if order_details.production_status == "waiting" || order_details.production_status == "producting" %>
              <%= f.submit "更新", class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>