<div class="row mt-3">
  <div class="col-11 mx-auto">
    <table class="table table-list">
      <tr>
        <th>購入者</th>
        <td>
          <%= customer.last_name %> <%= customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          〒<%= "#{order.postal_code} #{order.address}" %><br>
          <%= order.name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th class="line-height">注文ステータス</th>
        <td class="d-flex align-items-center">
          <%= form_with model: order, url: admin_order_path(order), method: :patch do |f| %>
            <%= f.select :status, Order.statuses_i18n.invert %>
            <%= f.submit "更新" , class: "btn btn-dark" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>