<table class="table">
<%= form_with model: order, url: admin_orders_path(order) do |f| %>
  <thead>
    <tr>
      <th>購入者</th>
      <th>注文日</th>
      <th>配送先</th>
      <th>配送先</th>
      <th class="line-height">注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= customer.last_name %> <%= customer.first_name %>
      </td>
      <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
      <td>
        〒<%= "#{order.postal_code} #{order.address}" %><br>
        <%= order.name %>
      </td>
      <td><%= order.payment_method_i18n %></td>
      <td class="d-flex align-items-center">
        <div class="mr-3">
          <%= f.select :status, options_for_select(status_options(order)), class: "form-control" %>
        </div>
        <%= status_display(order) %>
        <% if order.status == "waiting" ||  order.status == "preparing" %>
          <%= f.submit '更新', class: "btn btn-sm btn-success" %>
        <% end %>
      </td>
    </tr>
  </tbody>
<% end %>
</table>