<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3><%= "#{@customer.last_name} #{@customer.first_name}さんの注文履歴" %></h3>
      <table class="table table-list">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><u><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order), data: { turbolinks: false }, class: "text-reset" %></u></td>
              <td><%= order.order_details.sum(:amount) %></td>
              <td><%= order.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @orders %>
</div>