<div class="container py-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h3>注文履歴一覧</h3>
      <table class="table table-bordered">
        <div class="py-3">
          <thead>
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><u><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order), data: { turbolinks: false }, class: "text-reset" %></u></td>
                <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
                <td><%= order.order_details.sum(:amount) %></td>
                <td><%= order.status_i18n %></td>
              </tr>
            <% end %>
          </tbody>
        </div>
      </table>
    </div>
  </div>
  <%= paginate @orders %>
</div>