<div class="container pt-5 pb-5">
  <div class="row">
    <%= render "public/items/genre", genre: @genres %>
    <div class="col-md-10">
      <h3 class="mt-3">検索結果</h3>
      <div class="search-items d-flex flex-wrap">

        <% @items.each do |item| %>
          <div class="mx-2 mb-4">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_image(240, 160), style: "object-fit: cover; width: 240px; height: 160px;" %>
            <% end %>
              <p><%= item.name %></p>
            <% if item.is_on_sale == true %>
              <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
            <% else %>
              <p class="font-weight-bold">SOLD OUT</p>
            <% end %>
          </div>
        <% end %>

      </div>
      <div class="row justify-content-center">
        <%= paginate @Genres %>
      </div>
    </div>
  </div>
</div>