<div class="container p-3">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mt-3 mb-4">注文情報確認</h3>
    </div>
    <div class="col-12 col-md-8 mb-3">
      <table class="table table-bordered">
        <tr>
          <td><div class="text-center">商品名</div></td>
          <td><div class="text-center">単価(税込)</div></td>
          <td><div class="text-center">数量</div></td>
          <td><div class="text-center">小計</div></td>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
                <%= image_tag cart_item.item.get_item_image(100, 80) %>
                &ensp;&ensp;&ensp;
                <strong><%= cart_item.item.name %></strong>
            </td>
            <td><div class="text-center mt-4">¥<%= cart_item.item.with_tax_price.to_s(:delimited) %></div></td>
            <td><div class="text-center mt-4"><%= cart_item.amount %></div></td>
            <td><div class="text-center mt-4">¥<%= (cart_item.item.with_tax_price*cart_item.amount).to_s(:delimited) %></div></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-12 col-md-3 offset-md-1 ">
      <table class="table table-bordered">
        <tr>
          <td><div class="text-center">送料</div></td>
          <td><div class="text-center">¥<%= @shipping_cost.to_s(:delimited) %></div></td>
        </tr>
        <tr>
          <td><div class="text-center">商品合計</div></td>
          <td><div class="text-center">¥<%= @cart_items_price.to_s(:delimited) %></div></td>
        </tr>
        <tr>
          <td><div class="text-center">請求額</div></td>
          <td><div class="text-center">¥<%= @billing_amount.to_s(:delimited) %></div></td>
        </tr>
      </table>
    </div>
    <div class="col-5 col-md-3">
      <h4>支払い方法</h4>
    </div>
    <div class="col-7 col-md-7">
      <% if @selected_payment_method == "credit_card" %>
        クレジットカード
      <% else %>
        銀行振込
      <% end %>
    </div>
    <div class="col-5 col-md-3">
      <h4>お届け先</h4>
    </div>
    <div class="col-7 col-md-7">
      〒<%= @selected_address %>
    </div>
    <div class="text-center mb-4">
    <%= form_with url: orders_path, method: :post do %>

      <%= hidden_field_tag 'order[payment_method]', @selected_payment_method %>
      <%= hidden_field_tag 'order[address_type]', @address_type %>様

      <% if @address_type == "registered_address" %>
        <%= hidden_field_tag 'order[registered_address_id]', params[:order][:registered_address_id] %>
      <% elsif @address_type == "new_address" %>
        <%= hidden_field_tag 'order[new_postal_code]', params[:order][:new_postal_code] %>
        <%= hidden_field_tag 'order[new_address]', params[:order][:new_address] %>
        <%= hidden_field_tag 'order[new_name]', params[:order][:new_name] %>
      <% end %>
    </div>
    <div class="col-12 text-center mt-3">
      <%= submit_tag "注文を確定する", class: "btn btn-dark" %>
      <% end %>
    </div>

  </div>
</div>
