<div class="container p-3">
  <div class="row">
    <div class="col-md-12">
      <h3>注文履歴一覧</h3>
      <table class="table table-bordered">
        <tr>
          <td><div class="text-center">注文日</div></td>
          <td><div class="text-center">配送先</div></td>
          <td><div class="text-center">注文商品</div></td>
          <td><div class="text-center">支払い金額</div></td>
          <td><div class="text-center">ステータス</div></td>
          <td><div class="text-center">注文詳細</div></td>
        </tr>
        <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= order.address %></td>
        <td>
          <ul class="list-unstyled">
            <% order.order_details.each do |order_detail|  %>
              <li><%= order_detail.item.name %></li>
            <% end %>
          </ul>
        </td>
        <td>¥<%= order.billing_amount.to_s(:delimited) %></td>
        <td><div class="text-center"><%= order.status_i18n %></div></td>
        <td><div class="text-center"><%= link_to "表示する", order_path(order.id), class: "btn btn-dark" %></div></td>
      </tr>
      <% end %>
      </table>
      <div class="d-flex justify-content-center mt-3 custom-pagination">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>
