<div class="container">
  <h1>商品一覧</h1>
  <span>（全<%= @all_items.count %>件）</span>
  <div class="d-flex flex-wrap">
    <% @items.each do |item| %>
      <div class="mx-2 mb-4">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image(240, 160), style: "object-fit: cover; width: 240px; height: 160px;" %>
        <% end %>
        <p><%= item.name %></p>
        <% if item.is_on_sale == true %>
          <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
        <% else %>
          <p class="font-weight-bold">SOLD OUT</p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @items %>
</div>