<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e8ca5afb42.js" crossorigin="anonymous"></script>
    <%# ↓ここから %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <%# ↑ここまでGoogle Font導入 %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="color: #3B240B; background-color: #F6D8CE; font-family: 'Kiwi Maru', serif;">
    <%# ↑の行のfont-familyでフォント名を指定 %>
    <%= render 'layouts/header' %>
    <main>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
